@import "~realm-studio-styles/variables";

$transparent-white: rgba($color-white, .15);
$transparent-white-lighter: rgba($color-white, .25);
$transparent-black: rgba($color-black, .15);
$transparent-black-darker: rgba($color-black, .25);

.GettingStarted {
  background: $color-indigo;
  color: $color-white;
  display: flex;
  padding: 2 * $spacer;

  a {
    color: $color-white;
    text-decoration: underline;
  }

  &__Instructions {
    flex-basis: 65%;
  }

  &__Image {
    flex-basis: 35%;
  }

  &__Heading,
  &__Tutorial,
  &__Button,
  &__Input {
    margin-bottom: $spacer;
  }

  &__Input {
    background: $transparent-black;
    color: $color-white;
  }

  &__Button {
    background: $transparent-white;
    border: 0;
    clear: both;
    color: $color-white;
    float: left;

    &:hover,
    &:active {
      background: $transparent-white-lighter;
      color: $color-white;
    }
  }
}
