@import "~realm-studio-styles/variables";

.Log {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  user-select: none;

  .ReactVirtualized {
    &__List {
      &:focus {
        outline: none;
      }
    }
  }

  &__Table {
    flex-grow: 1;
  }

  &__Entry {
    align-items: center;
    display: flex;
    padding: 0 ($spacer / 2);

    &__Message {
      flex-grow: 1;
      font-family: $font-family-monospace;
      font-size: .8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: text;
      white-space: nowrap;
    }

    &__Badges {
      flex: none;
      font-size: .9rem;
    }

    &__Badge {
      margin-left: $spacer / 4;
    }
  }

  &__Controls {
    align-items: center;
    background: $window-background;
    display: flex;
    font-size: .875rem;
    justify-content: space-between;
    padding: $spacer / 2;
  }
}
