build
dist
node_modules
realm-object-server
.idea

.DS_Store
data/

# Created by mocha-webpack
.tmp

# Secrets
secrets.sh

# Test results from JUnit
test-results.xml

# Realm locks and management files
*.realm.lock
*.realm.management
