@import "~realm-studio-styles/variables";

$loading-overlay-background: rgba($color-charcoal, .25);

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.LoadingOverlay {
  align-items: center;
  animation-delay: 0s;
  animation-duration: .33s;
  animation-fill-mode: forwards;
  animation-name: fade;
  background: $loading-overlay-background;
  bottom: 0;
  color: $color-charcoal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;

  &--no-fade {
    animation-delay: 0s;
    animation-duration: 0s;
    opacity: 1;
  }

  &__Progress {
    margin: $spacer;
    width: 60vw;
  }
}
