@import "~realm-studio-styles/variables";

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.LoadingOverlay {
  align-items: center;
  animation-delay: 0s;
  animation-duration: .33s;
  animation-fill-mode: forwards;
  animation-name: fade;
  background: $overlay-background;
  bottom: 0;
  color: $color-charcoal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;

  &--no-fade {
    animation-delay: 0s;
    animation-duration: 0s;
    opacity: 1;
  }

  &__Progress {
    margin: $spacer;
    width: 60vw;
  }

  &__Message,
  &__Failure {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $spacer / 2;
    text-align: center;
    white-space: pre;
    width: 70%;
  }

  &__RetryButton {
    margin-top: $spacer;
  }

  &__FailureIcon {
    font-size: 4rem;
  }
}
