@import "~realm-studio-styles/variables";

.WaitlistOverlay {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__Link {
    font-size: .85rem;
  }
}
