@import "~realm-studio-styles/variables";

.Dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & > * {
    margin: $spacer / 4;
  }
}
