@import "~realm-studio-styles/variables";

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.LoadingOverlay {
  align-items: center;
  animation-delay: 0s;
  animation-duration: .33s;
  animation-fill-mode: forwards;
  animation-name: fade;
  background: $overlay-background;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 2 * $spacer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;

  &--no-fade {
    animation-delay: 0s;
    animation-duration: 0s;
    opacity: 1;
  }

  &__Content {
    align-items: center;
    color: $color-dove;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 100%;
  }

  &__Progress {
    margin: $spacer;
    width: 60vw;
  }

  &__Failure,
  &__Message {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: pre-line;
    width: 80%;
  }

  &__Failure {
    flex-basis: 4rem;
    flex-shrink: 0;
    font-size: 4rem;
    margin: $spacer;
  }

  &__Message {
    padding: $spacer;
  }

  &__RetryButton {
    margin-top: $spacer;
  }
}
