@import "~realm-studio-styles/variables";

.Sidebar {
  &__AccountsTable,
  &__MetadataTable,
  &__RealmsTable {
    table-layout: fixed;

    th {
      border-top: 0;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__MetadataTableControlCell {
    text-align: right;
    width: 35px;

    * {
      width: 100%;
    }
  }

  &__EmptyTableExplanation {
    color: $color-elephant;
    font-size: .9rem;
    text-align: center;
  }
}
