@import "~realm-studio-styles/variables";

$sidebar-shadow: rgba($color-dove, .66);

.RealmsTable {
  display: flex;
  flex-grow: 1;

  &__row {
    &--selected {
      background: $color-dove;
    }
  }

  &__table {
    flex: 1 0;
  }

  @import "../../reusable/ReactVirtualized";
}
