@import "~realm-studio-styles/variables";

$history-panel-icon-size: 20px;

.Greeting {
  display: flex;
  flex-direction: row;
  height: 100%;

  &__ActionsPanel,
  &__HistoryPanel {
    padding: $spacer / 2;
  }

  &__ActionsPanel {
    align-items: center;
    background: $window-background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
  }

  &__Brand {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__Title {
    margin-top: $spacer;
  }

  &__UpdateStatusIndicator {
    cursor: pointer;
    font-size: .8rem;
    width: 80%;

    &--busy {
      cursor: wait;
    }

    &__Status {
      margin: 0;
      padding: $spacer / 4;
      text-align: center;
    }

    &__Icon {
      margin-right: $spacer / 2;
    }

    &__Progress {
      height: .33rem;
    }

    &__Rail {
      height: 100%;
    }

    &__Bar {
      // The .25s matches the delay constant in updater.ts
      transition: width .25s linear;
    }
  }

  &__Actions {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__Action {
    margin-bottom: $spacer * .75;
  }

  &__DownloadDemo {
    font-size: .7rem;
    margin-top: $spacer / 2;
  }

  &__HistoryPanel {
    background: $color-charcoal;
    color: $color-dove;
    font-size: .9rem;
    width: 40%;

    a {
      color: $color-dove;
    }

    &__Entry {
      align-items: center;
      display: flex;
    }

    &__Icon {
      height: $history-panel-icon-size;
      margin: $spacer / 2;
      width: $history-panel-icon-size;
    }

    &__Description {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 20px;
    }

    &__Empty {
      align-items: center;
      cursor: default;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: $spacer / 2;
      user-select: none;

      a {
        text-decoration: underline;
      }
    }
  }

  &__Logo {
    width: 90px;
  }

  &__ShareAction {
    cursor: pointer;

    &:hover {
      color: $color-indigo;
    }
  }

  &__CloudOverlay {
    background: $overlay-background;
    bottom: 0;
    color: $color-dove;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: $spacer;
    position: absolute;
    right: 0;
    top: 0;

    &__Title {
      margin-top: $spacer;
      text-align: center;
    }

    &__ShareButtons {
      display: flex;
      justify-content: center;

      & > * {
        margin: $spacer / 4;
      }
    }

    &__Feedback {
      flex-grow: 1;
      margin: ($spacer / 2) 0;
      resize: none;
    }

    &__Footer {
      text-align: center;

      & > * {
        margin: 0 $spacer / 4;
      }
    }
  }
}
