$font-path: '../fonts/' !default;
// Try to use the system's font on whatever platform the user is on.
$font-family-default: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;
$font-size-default: 13px !default;
$font-weight: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;
$line-height-default: 1.6 !default;


// Realm Pantone Colors
$color-melon: #FCC397;
$color-peach: #FC9F95;
$color-sexy-salmon: #F77C88;
$color-flamingo: #F25192;
$color-mulberry: #D34CA3;
$color-grape-jelly: #9A50A5;
$color-space-jelly: #9A50A5;
$color-indigo: #59569E;
$color-ultramarine: #39477F;
$color-charcoal: #1C233F;
$color-elephant: #9A9BA5;
$color-dove: #EBEBF2;
$color-link-blue: #2C8AF7;