@import "~realm-studio-styles/variables";

@mixin sidebar-table {
  table-layout: fixed;

  &--non-fixed {
    table-layout: auto;
  }

  th {
    border-top: 0;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__ControlCell {
    text-align: right;
    width: 35px;

    * {
      width: 100%;
    }
  }

  &__EmptyExplanation {
    color: $elephant;
    font-size: .9rem;
    text-align: center;
  }
}
