$color-melon: #fcc397;
$color-peach: #fc9f95;
$color-sexy-salmon: #f77c88;
$color-flamingo: #f25192;
$color-mulberry: #d34ca3;
$color-grape-jelly: #9a50a5;
$color-space-jelly: #9a50a5;
$color-indigo: #59569e;
$color-ultramarine: #39477f;
$color-charcoal: #1c233f;
$color-elephant: #9a9ba5;
$color-dove: #ebebf2;

$green: #28a745;

// Override bootstrap colors
$brand-primary: $color-ultramarine;
$brand-danger: $color-sexy-salmon;
$brand-info: $color-ultramarine;
$btn-secondary-bg: $color-dove;
$btn-secondary-border: $color-dove;

$window-background: mix(#fff, $color-dove, 50%);

/*
// TODO: Use this once reactstrap is up-to-date https://github.com/reactstrap/reactstrap/issues/487
$theme-colors: (
  primary: $color-ultramarine,
  secondary: $color-dove,
  success: $green,
  info: $color-dove,
  warning: $color-melon,
  danger: $color-flamingo,
  light: $color-dove,
  dark: $color-charcoal
);
*/
