// Realm theme colors
$melon: #fcc397;
$peach: #fc9f95;
$sexy-salmon: #f77c88;
$flamingo: #f25192;
$mulberry: #d34ca3;
$grape-jelly: #9a50a5;
$indigo: #59569e;
$ultramarine: #39477f;
$charcoal: #1c233f;
$elephant: #9a9ba5;
$dove: #ebebf2;

// Other color overrides
$green: #28a745;

// Override bootstrap colors
$primary: $ultramarine;
$secondary: $dove;
$danger: $sexy-salmon;
$info: $ultramarine;

$btn-secondary-bg: $dove;
$btn-secondary-border: $dove;
$input-color-placeholder: rgba($elephant, .6);

$state-info-text: $ultramarine;
$state-info-bg: lighten($ultramarine, 50%);

$window-background: mix(#fff, $dove, 50%);
$overlay-background: rgba($charcoal, .6);
