@import "~realm-studio-styles/variables";

.Table {
  display: flex;
  flex-grow: 1;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__topbar {
    background-color: $dove;
    padding: $spacer / 2;
  }

  &__row {
    &--selected {
      background: $dove;
    }
  }

  &__table {
    flex: 1 0;
  }

  @import "../../../reusable/ReactVirtualized";
}
