@import "~realm-studio-styles/variables";
@import "../variables";

.UserSidebar {
  background: $white;

  &__card {
    border-bottom: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    height: 100%;
    width: $sidebar-width;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__metadata-table,
  &__realms-table {
    table-layout: fixed;

    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__metadata-table {
    margin-top: $spacer;
  }

  &__controls {
    flex-grow: 0;
    text-align: center;

    // Add spacing between the controls
    * {
      &:not(:first-child) {
        margin-left: $spacer / 2;
      }
    }
  }
}
