@import "~realm-studio-styles/variables";
@import "../variables";

.UserSidebar {
  background: $white;

  &__card {
    border-bottom: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    height: 100%;
    // Defining its width makes sure it doesn't collapse when sliding in / out
    width: $sidebar-width;
  }

  &__title {
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__MetadataTable,
  &__RealmsTable {
    table-layout: fixed;

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__MetadataTable {
    margin-top: $spacer;
  }

  &__MetadataTableControlCell {
    text-align: right;
    width: 35px;

    * {
      width: 100%;
    }
  }

  &__controls {
    flex-grow: 0;
    text-align: center;

    // Add spacing between the controls
    * {
      &:not(:first-child) {
        margin-left: $spacer / 2;
      }
    }
  }
}
