@import "~realm-studio-styles/variables";

.UsersTable {
  display: flex;
  flex-grow: 1;

  &__selected-row {
    background: $color-dove;
  }

  &__table {
    flex: 1 0;
  }

  @import "../../reusable/ReactVirtualized";
}
