@import "~realm-studio-styles/variables";
@import "../variables";

.UsersTable {
  display: flex;
  flex-grow: 1;

  &__selected-row {
    background: $color-dove;
  }

  &__table {
    flex: 1 0;
  }

  &__overlayed-controls {
    bottom: $spacer;
    opacity: 1;
    position: absolute;
    right: $spacer;
    transition-duration: $sidebar-transition-duration;
    transition-property: opacity;

    &--hidden {
      opacity: 0;
    }
  }

  &__selected-user {
    box-shadow: -5px 0 5px $sidebar-shadow;
    flex: 0 0 0;
    height: 100%;
    overflow: hidden;
    transition-duration: $sidebar-transition-duration;
    transition-property: flex-basis;
    transition-timing-function: ease-in-out;
    z-index: 1;

    &--active {
      flex-basis: $sidebar-width;
    }
  }

  @import "../../reusable/ReactVirtualized";
}
