// See the "The "Realm" fonts" section of the docs/GUIDELINES.md document for usage.

@font-face {
    font-family: "RealmBold";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_Bd.woff2") format("woff2");
}
@font-face {
    font-family: "RealmBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_BdIt.woff2") format("woff2");
}
@font-face {
    font-family: "RealmHeavy";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_He.woff2") format("woff2");
}
@font-face {
    font-family: "RealmHeavyItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_HeIt.woff2") format("woff2");
}
@font-face {
    font-family: "RealmItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_It.woff2") format("woff2");
}
@font-face {
    font-family: "RealmLight";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_Lt.woff2") format("woff2");
}
@font-face {
    font-family: "RealmLightItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_LtIt.woff2") format("woff2");
}
@font-face {
    font-family: "RealmMedium";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_Md.woff2") format("woff2");
}
@font-face {
    font-family: "RealmMediumItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_MdIt.woff2") format("woff2");
}
@font-face {
    font-family: "Realm";
    font-style: normal;
    font-weight: normal;
    src: url("./Effra_W_Rg.woff2") format("woff2");
}
