@font-face {
    font-family: 'Realm';
    font-style: normal;
    font-weight: bold;
    src: url('./Effra_W_Bd.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: italic;
    font-weight: bold;
    src: url('./Effra_W_BdIt.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: normal;
    font-weight: bolder;
    src: url('./Effra_W_He.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: italic;
    font-weight: bolder;
    src: url('./Effra_W_HeIt.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: italic;
    font-weight: normal;
    src: url('./Effra_W_It.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: normal;
    font-weight: lighter;
    src: url('./Effra_W_Lt.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: italic;
    font-weight: lighter;
    src: url('./Effra_W_LtIt.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: normal;
    font-weight: 500;
    src: url('./Effra_W_Md.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: italic;
    font-weight: 500;
    src: url('./Effra_W_MdIt.woff2') format('woff2');
}
@font-face {
    font-family: 'Realm';
    font-style: normal;
    font-weight: normal;
    src: url('./Effra_W_Rg.woff2') format('woff2');
}
