@import "./browser-variables";

@mixin subtle-transition {
  transition: all .3s ease-in;
}

.RealmBrowser {
  position: absolute;
  width: 100%;
  height: 100%;

  .ReactVirtualized__Grid {
    outline: none;
  }

  &__container {
    display: flex;
    height: 100%;
    width: 100%;
    border: $realm-browser-container-border;
  }

  &__sidebar {
    background: $realm-browser-sidebar-bg;
    border-right: $realm-browser-sidebar-border;
    box-sizing: border-box;
    flex: 0 0 $realm-browser-sidebar-width;

    .badge {
      float: right;
    }

    .header {
      border-bottom: $realm-browser-sidebar-header-border;
      color: $realm-browser-sidebar-header-color;
      font-size: .75rem;
      font-weight: bold;
      padding: $realm-browser-sidebar-header-padding;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      color: $realm-browser-sidebar-model-color;
      cursor: pointer;
      padding: $realm-browser-sidebar-model-padding;

      &.selected {
        @include subtle-transition;
        background: $realm-browser-sidebar-model-selected-bg;
        color: $realm-browser-sidebar-model-selected-color;

        .badge {
          background: $realm-browser-sidebar-badge-selected-bg;
          color: $realm-browser-sidebar-badge-selected-color;
        }
      }

      .badge {
        background: $realm-browser-sidebar-badge-bg;
        border-radius: $spacer * .5;
        color: $realm-browser-sidebar-badge-color;
        font-size: .75rem;
        font-weight: bold;
        line-height: 1;
        padding: $spacer * .2 $spacer * .4;
      }
    }
  }

  &__content {
    flex: 1 0 0;

    .cell,
    .headerCell {
      border-right: 1px solid $realm-browser-content-grid-color;
      border-bottom: 1px solid $realm-browser-content-grid-color;
      box-sizing: border-box;
      padding: $realm-browser-content-cell-padding;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .resizeHandle {
        background: none;
        cursor: col-resize;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: $realm-browser-content-handle-width;
      }
    }

    .propertyName {
      font-size: .9rem;
      font-weight: bold;
    }

    .propertyType {
      color: $realm-browser-content-type-color;
      font-size: .75rem;
      font-weight: bold;
      line-height: 1;
    }

    .loading {
      position: relative;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
