@import "~realm-studio-styles/variables";

$realm-browser-colors: (
  lighter-gray: mix($white, $color-dove, 50%),
  light-gray: $color-dove,
  dark-gray: $color-elephant,
  darkest: $black,
  lightest: $white,
  brand-primary: $brand-primary
) !default;

//***** Colors *****

// Colors: Sidebar
$realm-browser-sidebar-bg: map-get($realm-browser-colors, lighter-gray) !default;
$realm-browser-sidebar-border: 1px solid map-get($realm-browser-colors, light-gray) !default;
$realm-browser-sidebar-header-color: map-get($realm-browser-colors, dark-gray) !default;
$realm-browser-sidebar-header-border: $realm-browser-sidebar-border !default;
$realm-browser-sidebar-model-color: map-get($realm-browser-colors, darkest) !default;
$realm-browser-sidebar-badge-color: map-get($realm-browser-colors, brand-primary) !default;
$realm-browser-sidebar-badge-bg: rgba(map-get($realm-browser-colors, brand-primary), .15) !default;
$realm-browser-sidebar-model-selected-color: map-get($realm-browser-colors, lightest) !default;
$realm-browser-sidebar-model-selected-bg: map-get($realm-browser-colors, brand-primary) !default;
$realm-browser-sidebar-badge-selected-color: $realm-browser-sidebar-badge-color !default;
$realm-browser-sidebar-badge-selected-bg: map-get($realm-browser-colors, lightest) !default;
// Colors: Content
$realm-browser-content-grid-color: map-get($realm-browser-colors, light-gray) !default;
$realm-browser-content-type-color: map-get($realm-browser-colors, brand-primary) !default;
$realm-browser-container-border: none !default;

//***** Sizes *****

$spacer: 1rem !default;
// Sizes: Sidebar
$realm-browser-sidebar-width: 200px !default;
$realm-browser-sidebar-header-padding: 14px !default;
$realm-browser-sidebar-model-padding: 20px 12px;
// Sizes: Content
$realm-browser-content-cell-padding: 0 .5em;
$realm-browser-content-handle-width: 10px;
