@import "~realm-studio-styles/variables";

.ServerAdministration {
  background: $color-dove;
  display: flex;
  flex-direction: column;
  height: 100%;

  // TODO: Remove this block once we're using bootstrap-v4.0.0-beta
  &__tabs { // sass-lint:disable-line no-mergeable-selectors
    align-items: center;
    display: flex;
    flex-direction: row;
  }

}
