@import "~realm-studio-styles/variables";

.Tutorial {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__Chapter {
    flex-grow: 1;
    padding: $spacer;
  }

  &__ChapterSelector {
    display: flex;
    justify-content: center;
    padding: $spacer / 2;
  }

  &__ChapterButton {
    align-items: center;
    background: $color-dove;
    border-radius: 1.5rem;
    cursor: pointer;
    display: flex;
    font-family: "RealmMedium";
    font-size: 1.5rem;
    height: 3rem;
    justify-content: center;
    margin: $spacer / 2;
    width: 3rem;

    &--selected-0,
    &--completed-0 {
      background: $color-ultramarine;
      color: $white;
    }

    &--selected-1,
    &--completed-1 {
      background: $color-indigo;
      color: $white;
    }

    &--selected-2,
    &--completed-2 {
      background: $color-grape-jelly;
      color: $white;
    }

    &--selected-3,
    &--completed-3 {
      background: $color-mulberry;
      color: $white;
    }

    &--selected-4,
    &--completed-4 {
      background: $color-flamingo;
      color: $white;
    }

    &--selected-5,
    &--completed-5 {
      background: $color-sexy-salmon;
      color: $white;
    }

    &--selected-6,
    &--completed-6 {
      background: $color-peach;
      color: $white;
    }

    &--selected-7,
    &--completed-7 {
      background: $color-melon;
      color: $white;
    }
  }
}
