@import "~realm-studio-styles/variables";

.CreateObjectDialog {
  &__PropertyRow {
    &__Label {
      width: 100%;
    }

    &__Badges {
      float: right;
      font-size: .9rem;
      vertical-align: super;
    }
  }
}
