@import "~realm-studio-styles/variables";

.CreateObjectDialog {
  &__PropertyRow {
    &__Label {
      width: 100%;
    }

    &__Badges {
      float: right;
      font-size: 1rem;
    }
  }

  &__ObjectControl {
    &__FormControl {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &__Display {
      font-size: .8rem;
    }
  }

  &__StringControl,
  &__DateControl {
    &__Input {
      &::placeholder {
        font-style: italic;
      }

      &::-webkit-clear-button { // sass-lint:disable-line no-vendor-prefixes
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        display: none;
      }
    }
  }

  &__DateControl {
    &__Input {
      // Overriding the bootstrap default as this produces columns
      flex-direction: row !important; // sass-lint:disable-line no-important
    }
  }
}
