@import "~realm-studio-styles/variables";
@import "../../variables";

.Sidebar {
  background: $white;
  box-shadow: -5px 0 5px $sidebar-shadow;
  flex: 0 0 0;
  height: 100%;
  overflow: hidden;
  transition-duration: $sidebar-transition-duration;
  transition-property: flex-basis;
  transition-timing-function: ease-in-out;
  z-index: 1;

  &--active {
    flex-basis: $sidebar-width;
  }

  &__Card {
    // Defining its width makes sure it doesn't collapse when sliding in / out
    border-bottom: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    display: flex;
    height: 100%;
    width: $sidebar-width;
  }

  &__Top,
  &__Tables {
    padding-bottom: 0;
  }

  &__Top,
  &__Controls {
    flex: 0 0 auto;
  }

  &__Tables {
    overflow-y: scroll;
  }

  &__Title {
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__Controls {
    display: block;
    text-align: center;

    // Add spacing between the controls
    * {
      &:not(:first-child) {
        margin-left: $spacer / 2;
      }
    }
  }
}
