@import "~realm-studio-styles/variables";

// This constant should match the HANDLE_WIDTH in HeaderCell.tsx
$realm-browser-header-handle-width: 5px;
// This constant should match the rowHeights.header constant in Table.tsx
$realm-browser-header-height: 40px;
$realm-browser-header-icon-space: 24px;
$realm-browser-header-handle-hover-bg: rgba(0, 0, 0, .1);
$realm-browser-header-handle-dragging-bg: rgba($color-ultramarine, .5);

$realm-browser-more-indicator-size: $spacer;
$realm-browser-more-indicator-dark-color: rgba(0, 0, 0, .2);
$realm-browser-more-indicator-light-color: rgba(0, 0, 0, 0);

$color-row-stripe: mix($white, $color-dove, 50%);
$highlight-row-bg: mix($white, $color-indigo, 70%);
$highlight-row-color: $black;

.RealmBrowser {
  display: flex;
  height: 100%;

  &__Sidebar,
  &__Table__HeaderGrid,
  &__Content__Actions {
    z-index: 1; // Overlay when drag-reordering elements in lists
  }

  &__Sidebar {
    background: $window-background;
    border-right: 1px solid $color-dove;
    display: flex;
    flex-direction: column;
    padding: $spacer / 2;
    padding-bottom: 0;
    width: 200px;

    &__Header {
      align-items: baseline;
      border-bottom: 1px solid $color-dove;
      color: $color-elephant;
      display: flex;
      font-size: .9rem;
      font-weight: bold;
      height: 2rem;
      justify-content: space-between;
      line-height: 2em;
      margin-bottom: $spacer / 2;
      text-transform: uppercase;
    }

    &__SchemaList {
      margin: 0 (-$spacer / 2);
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;

      &--empty {
        display: flex;
        height: 100%;
        justify-content: flex-start;

        &::before {
          color: $color-elephant;
          content: "This Realm has no schemas defined";
          text-align: center;
        }
      }
    }

    &__Schema {
      flex-direction: column;
      list-style: none;

      &__Name {
        flex-shrink: 1;
        overflow: hidden;
        padding-right: $spacer / 4;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__Info {
        align-items: center;
        background: $window-background;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: $spacer / 2;

        &:hover,
        &:focus {
          background: $color-dove;
        }

        &--selected {
          background: $brand-primary;
          color: $color-dove;

          &:hover,
          &:focus {
            background: $brand-primary;
          }
        }
      }
    }

    &__List {
      background: $color-dove;
      // box-shadow: inset 0 0 .4rem $realm-browser-list-box-shadow-color;
      padding: $spacer / 2;

      &__Name {
        align-items: center;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &__Text {
          font-size: .8rem;
          margin-right: $spacer / 2;
          overflow: hidden;
        }
      }

      &__Parent {
        font-size: .8rem;
      }

      &__ParentObject {
        color: $brand-primary;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__Wrapper {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
  }

  &__SelectObject {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    min-height: 300px;
    padding: 0;
  }

  &__Content {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

    &--no-schema-selected {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;

      &::before {
        color: $color-elephant;
        content: "No schema selected";
      }
    }

    &__Actions {
      background: $white;

      &__Filter {
        &,
        input,
        .input-group-addon {
          border-radius: 0;
        }
      }
    }
  }

  &__Table {
    flex: 1 0 0;

    &__HeaderGrid {
      background: $white;
      overflow-x: hidden;
    }

    &__Row {
      background: $white;
      transition: background-color 400ms;

      &--striped {
        background: $color-row-stripe;
      }

      &--sorting {
        background: mix($color-row-stripe, $white, 40%);
        border-top: 1px solid $color-dove;
        margin-top: -1px;
        transition: transform 300ms;
        user-select: none;
      }

      &--highlighted,
      &--sorting-selected {
        background: $highlight-row-bg;
        color: $highlight-row-color;
      }

      &--sorting-selected {
        box-shadow: 0 0 10px $highlight-row-bg;
      }
    }

    &__HeaderCell,
    &__Cell {
      border-bottom: 1px solid $color-dove;
      border-right: 1px solid $color-dove;
      position: relative;

      // We need to do this, because reactstrap adds the form-control class
      // after the classNames that we provide.
      .form-control { // sass-lint:disable-line class-name-format
        background: transparent;
      }
    }

    &__HeaderCell {
      display: flex;
      flex-direction: column;
      padding: 0 $realm-browser-header-icon-space 0 ($spacer / 4);
      position: relative;
    }

    &__HeaderName {
      font-size: $font-size-sm;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &--primitive {
        &::before {
          color: $color-elephant;
          content: "primitive";
        }
      }
    }

    &__HeaderType {
      bottom: 0;
      color: $brand-primary;
      font-size: $font-size-xs;
      font-weight: bold;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__HeaderSort {
      color: $color-elephant;
      cursor: pointer;
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 14px;

      &--active {
        color: $color-charcoal;
      }
    }

    &__HeaderHandle {
      cursor: ew-resize;
      height: 100%;
      position: absolute;
      right: -$realm-browser-header-handle-width / 2;
      top: 0;
      width: $realm-browser-header-handle-width;
      z-index: 1;

      &--dragging {
        background: $realm-browser-header-handle-dragging-bg;
      }

      &:not(&--dragging) {
        &:hover {
          background: $realm-browser-header-handle-hover-bg;
        }
      }
    }

    &__Cell,
    &__PropertyName {
      overflow: hidden;
      white-space: nowrap;
    }

    &__Input {
      background: transparent;
      border: 0;
      color: inherit;
      height: 100%;
      white-space: nowrap;

      &--null {
        color: $color-elephant;
      }

      &--disabled {
        color: $color-elephant;
      }

      &--int {
        text-align: right;
      }

      &:focus {
        color: inherit;
      }
    }

    &__StringCell {
      &--int {
        position: absolute;
        right: $spacer / 2;
        text-align: right;
        width: auto;
      }
    }

    &__ListCell,
    &__ObjectCell {
      border: 0;
      color: $brand-primary;
      cursor: pointer;
    }

    &__ListCell {
      display: flex;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }

      &__Value {
        flex: 1 1 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__Count {
        flex: 0 0 0;
        margin-left: $spacer / 4;
        white-space: nowrap;
      }
    }

    &__Content {
      // This is needed to contain the MoreIndicators
      position: relative;
    }

    &__More {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transition: opacity .2s;
      z-index: 4;

      &--visible {
        opacity: 1;
      }

      &--top,
      &--bottom {
        height: $realm-browser-more-indicator-size;
        width: 100%;
      }

      &--left,
      &--right {
        height: 100%;
        width: $realm-browser-more-indicator-size;
      }

      &--top {
        background: linear-gradient(
          to bottom,
          $realm-browser-more-indicator-dark-color,
          $realm-browser-more-indicator-light-color
        );
        top: $realm-browser-header-height;
      }

      &--bottom {
        background: linear-gradient(
          to top,
          $realm-browser-more-indicator-dark-color,
          $realm-browser-more-indicator-light-color
        );
        bottom: 0;
      }

      &--left {
        background: linear-gradient(
          to right,
          $realm-browser-more-indicator-dark-color,
          $realm-browser-more-indicator-light-color
        );
        left: 0;
      }

      &--right {
        background: linear-gradient(
          to left,
          $realm-browser-more-indicator-dark-color,
          $realm-browser-more-indicator-light-color
        );
        right: 0;
      }
    }

    @import "../reusable/ReactVirtualized";
  }
}
