@import "~realm-studio-styles/variables";

// This constant should match the HANDLE_WIDTH in HeaderCell.tsx
$realm-browser-header-handle-width: 8px;
$realm-browser-header-icon-space: 24px;

.RealmBrowser {
  display: flex;
  height: 100%;

  &__Sidebar {
    background: $window-background;
    flex: 0 2 200px;
    padding: $spacer / 2;

    &__Header {
      border-bottom: 1px solid $color-dove;
      font-size: .9rem;
      font-weight: bold;
      line-height: 2em;
      height: 2rem;
      text-transform: uppercase;
      margin-bottom: $spacer / 2;
      color: #9A9BA5;
    }

    &__SchemaList {
      margin: 0 (-$spacer / 2);
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;
    }

    &__Schema {
      list-style: none;
      flex-direction: column;

    }

    &__Sublevel {
      border-top: 1px solid rgba(128, 128, 128, 0.29);
      padding: 0 $spacer / 2 $spacer / 3 $spacer / 1.5;
      &__Name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &__Text {
          margin: 0 5px;

        }
      }
      &__Label {
        padding-left: $spacer;
        font-size: 0.8rem;
      }
      &__Properties {
        padding-left: $spacer * 1.45;
        font-size: 0.8rem;
        &--ref {
          color: blue;
          text-decoration: underline;
          margin-left: 5px;
          cursor: pointer;
        }
      }

      &:hover,
      &:focus {
        background: $color-dove;
      }

      &--selected {
        background: rgba(128, 128, 128, 0.28);
        color: #39477f;

        &:hover,
        &:focus {
          background: rgba(128, 128, 128, 0.28);
        }
      }

    }

    &__Schema__Info {
      display: flex;
      padding: $spacer / 2;
      background: $window-background;

      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      &:hover,
      &:focus {
        background: $color-dove;
      }

      &--selected {
        background: $brand-primary;
        color: $color-dove;

        &:hover,
        &:focus {
          background: $brand-primary;
        }
      }
    }

    &__Schema__Name {
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__Wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
  }

  &__SelectObject {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 300px;
    padding: 0;
  }

  &__Tabs {
    min-height: 42px;
  }

  &__Tab {
    &--active {
      background: $brand-primary;
      color: $color-dove !important;
    }
  }

  &__Content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;

    &__Actions {
      &__Filter {
        &,
        input,
        .input-group-addon {
          border-radius: 0;
        }
      }
    }

    .ReactVirtualized__Grid {
      &::-webkit-scrollbar {
        width: 13px;
        height: 13px;

      }

      &::-webkit-scrollbar-track {
        box-shadow: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 0;
        border-radius: 10px;
        height: 20px;
      }

    }

    &__Header {
      z-index: 4;
      overflow-x: hidden !important;
    }

    &__HeaderCell,
    &__Cell {
      border-bottom: 1px solid $color-dove;
      border-right: 1px solid $color-dove;
      position: relative;

      &.Highlight {
        > * {
          background-color: $color-indigo;
          color: white;
        }
      }
    }

    &__HeaderCell {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0 $realm-browser-header-icon-space 0 ($spacer / 4);
    }

    &__HeaderName {
      font-size: $font-size-sm;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__HeaderSort {
      position: absolute;
      right: 10px;
      top: 14px;
      font-size: 12px;
      cursor: pointer;
      &--active {
        color: $color-indigo;
      }
    }

    &__HeaderType {
      color: $brand-primary;
      font-size: $font-size-xs;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__Cell,
    &__PropertyName {
      overflow: hidden;
    }

    &__HeaderHandle {
      cursor: ew-resize;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: $realm-browser-header-handle-width;
      z-index: 1;
    }

    &__Input {
      border: 0;
      white-space: nowrap;
      height: 100%;

      &--null {
        color: $color-elephant;
      }

      &--disabled {
        color: $color-elephant;
      }

      &--unselectable {
        user-select: none;
      }
    }

    &__Link {
      border: 0;
      color: $brand-primary;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    @import "../reusable/ReactVirtualized";
  }
}

