@import "~realm-studio-styles/variables";

// This constant should match the HANDLE_WIDTH in HeaderCell.tsx
$realm-browser-header-handle-width: 8px;
$realm-browser-header-icon-space: 24px;

.RealmBrowser {
  display: flex;
  height: 100%;

  &__Sidebar {
    background: $window-background;
    display: flex;
    flex-direction: column;
    padding: $spacer / 2;
    padding-bottom: 0;
    width: 200px;

    &__Header {
      border-bottom: 1px solid $color-dove;
      color: #9A9BA5;
      font-size: .9rem;
      font-weight: bold;
      height: 2rem;
      line-height: 2em;
      margin-bottom: $spacer / 2;
      text-transform: uppercase;
    }

    &__SchemaList {
      margin: 0 (-$spacer / 2);
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;

      &--empty {
        display: flex;
        height: 100%;
        justify-content: flex-start;

        &::before {
          color: $color-elephant;
          content: "This Realm has no schemas defined";
          text-align: center;
        }
      }
    }

    &__Schema {
      flex-direction: column;
      list-style: none;

      &__Name {
        flex-shrink: 1;
        overflow: hidden;
        padding-right: $spacer / 4;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__Info {
        align-items: center;
        background: $window-background;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: $spacer / 2;

        &:hover,
        &:focus {
          background: $color-dove;
        }

        &--selected {
          background: $brand-primary;
          color: $color-dove;

          &:hover,
          &:focus {
            background: $brand-primary;
          }
        }
      }
    }

    &__Sublevel {
      border-top: 1px solid rgba(128, 128, 128, 0.29);
      padding: 0 $spacer / 2 $spacer / 3 $spacer / 1.5;
      &__Name {
        align-items: center;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &__Text {
          margin: 0 5px;
        }
      }
      &__Label {
        font-size: .8rem;
        padding-left: $spacer;
      }
      &__Properties {
        padding-left: $spacer * 1.45;
        font-size: .8rem;

        &--ref {
          color: blue;
          cursor: pointer;
          margin-left: 5px;
          text-decoration: underline;
        }
      }

      &:hover,
      &:focus {
        background: $color-dove;
      }

      &--selected {
        background: rgba(128, 128, 128, 0.28);
        color: #39477f;

        &:hover,
        &:focus {
          background: rgba(128, 128, 128, 0.28);
        }
      }

    }
  }

  &__Wrapper {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
  }

  &__SelectObject {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    min-height: 300px;
    padding: 0;
  }

  &__Tabs {
    min-height: 42px;
  }

  &__Tab {
    &--active {
      background: $brand-primary;
      color: $color-dove !important;
    }
  }

  &__Content {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

    &--no-schema-selected {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;

      &::before {
        color: $color-elephant;
        content: "No schema selected";
      }
    }

    &__Actions {
      &__Filter {
        &,
        input,
        .input-group-addon {
          border-radius: 0;
        }
      }
    }

    .ReactVirtualized__Grid {
      &::-webkit-scrollbar {
        height: 13px;
        width: 13px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 10px;
        height: 20px;
        outline: 0;
      }

    }

    &__Header {
      overflow-x: hidden !important;
      z-index: 4;
    }

    &__HeaderCell,
    &__Cell {
      border-bottom: 1px solid $color-dove;
      border-right: 1px solid $color-dove;
      position: relative;

      &--highlighted {
        background: $color-dove;
      }

      // We need to do this, because reactstrap adds the form-control class
      // after the classNames that we provide.
      .form-control { // sass-lint:disable-line class-name-format
        background: transparent;
      }
    }

    &__HeaderCell {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0 $realm-browser-header-icon-space 0 ($spacer / 4);
    }

    &__HeaderName {
      font-size: $font-size-sm;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__HeaderSort {
      cursor: pointer;
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 14px;

      &--active {
        color: $color-indigo;
      }
    }

    &__HeaderType {
      color: $brand-primary;
      font-size: $font-size-xs;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__Cell,
    &__PropertyName {
      overflow: hidden;
    }

    &__HeaderHandle {
      cursor: ew-resize;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: $realm-browser-header-handle-width;
      z-index: 1;
    }

    &__Input {
      background: transparent;
      border: 0;
      height: 100%;
      white-space: nowrap;

      &--null {
        color: $color-elephant;
      }

      &--disabled {
        color: $color-elephant;
      }

      &--unselectable {
        user-select: none;
      }

      &--int {
        position: absolute;
        right: 0;
        text-align: right;
        width: auto;
      }
    }

    &__ListCell,
    &__ObjectCell {
      border: 0;
      color: $brand-primary;
      cursor: pointer;
    }

    &__ListCell {
      display: flex;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }

      &__Value {
        flex: 1 1 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__Count {
        flex: 0 0 0;
        margin-left: $spacer / 4;
        white-space: nowrap;
      }
    }

    @import "../reusable/ReactVirtualized";
  }
}
