@import "~realm-studio-styles/variables";

.IntroductionOverlay {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__Controls {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-bottom: $spacer;
  }

  &__Button {
    margin: $spacer / 4;
  }

  &__Link {
    font-size: .85rem;
  }
}
