@import "~realm-studio-styles/variables";

.ConnectToServer {
  background: $color-dove;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__ServerUrl,
  &__Authentication,
  &__Controls {
    flex-basis: 0;
    flex-grow: 1;
    padding: $spacer;
  }

  &__ServerUrl {
    align-items: center;
    display: flex;
    flex-grow: 2;
    justify-content: center;
  }

  &__ServerUrlGroup {
    flex-grow: 1;
    margin: 0;
  }

  &__AuthenticationForm {
    background: darken($color-dove, 5%);
    display: flex;
    flex-basis: 110px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: $spacer;
    position: relative;
  }

  &__AuthenticationMethodSelector {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -$spacer;
    width: 100%;

    &__Btn {
      margin: 0 ($spacer / 4);
    }
  }

  &__CredentialsFormGroup {
    margin: $spacer / 4;
  }

  &__CredentialsLabelCol {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  &__CredentialsLabel {
    margin-bottom: 0;
    padding-right: $spacer;
  }

  &__Controls {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__ControlBtn {
    margin: $spacer / 4;
  }
}
