@import "./variables";
@import "./bootstrap";
@import "./react-virtualized";

// @import "./fonts/realm";

// Applying https://www.mobomo.com/2014/05/better-font-smoothing-in-chrome-on-mac-os-x/
html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: $white;
}

html,
body,
#app {
  height: 100%;
}

@import "./form-controls";
