@import "./reset.scss";
@import "./variables.scss";

body {
  background: $white;
  font: {
    family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;;
    size: 12px;
    weight: 400;
  }
}

html,
body,
#app {
  height: 100%;
}
