@import "~realm-studio-styles/variables";

@keyframes pulsing {
  0% {
    transform: scale(.8);
  }

  15% {
    transform: scale(1.3);
  }

  33% {
    transform: scale(.8);
  }
}

.LoadingDots {
  height: 1em;
  vertical-align: middle;
  width: auto;

  &__dot-1,
  &__dot-2,
  &__dot-3 {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: pulsing;
    transform: scale(.8);
    transform-origin: center;
  }

  &__dot-2 {
    animation-delay: .33s;
  }

  &__dot-3 {
    animation-delay: .66s;
  }
}
