@import "~realm-studio-styles/variables";

.CloudAction {
  &__Alert {
    font-size: .8rem;
    padding: $spacer / 2;
  }

  &__LoadingDots {
    margin-left: $spacer / 2;
  }

  &__Close {
    cursor: pointer;
    margin-left: $spacer / 2;
  }

  &__Icon {
    height: 1em;
    margin-left: - $spacer / 4;
    vertical-align: -10%;
    width: 1em;
  }
}
